.box_1{
    background-color:rgba(255, 255, 255, 0.04);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 15px;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 15px;
    margin-top: 40px;
    border-radius: 5px;
}
.container p{
    color: rgb(30, 159, 192);
}
.container span{
    color: rgb(255, 255, 255);
}
.box_2{
    background-color:rgba(255, 255, 255, 0.04);
    margin-top: 40px;
    padding: 15px;
    border-radius: 5px;
    
}

.box_2_title{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr
}
.box_2_item {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 
}
.box_3{
    background-color:rgba(255, 255, 255, 0.04);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    margin-top: 40px;
    align-items: center;
    border-radius: 5px;
}
.box_3_button{
   width: 50%;
   display: flex;
   justify-content: space-between;
}
.box_3 button{
    font-size: 1rem;
    padding: 5px;
    color:rgb(60, 195, 60);;
    border: 1px solid ;
    border-radius: 5px;
    background-color: rgba(0, 0, 0, 0);
    min-width: 55px;
    
    
}
.box_3 button:nth-child(1){
    color:rgb(186, 0, 0);
    border-color: rgb(186, 0, 0);

}
